<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="PayrollDb"
         connectionString="Server=sql.bsite.net\MSSQL2016;Database=empsalary_;User ID=empsalary_;Password=Mars@1984;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>

    <compilation
        debug="false"
        targetFramework="4.8" />

    <httpRuntime
        targetFramework="4.8"
        requestValidationMode="4.5" />

    <pages
        controlRenderingCompatibilityVersion="4.0"
        clientIDMode="AutoID" />

    <globalization
        requestEncoding="utf-8"
        responseEncoding="utf-8"
        fileEncoding="utf-8"
        culture="en-IN"
        uiCulture="en-IN" />

    <customErrors mode="Off" />

    <sessionState
        mode="InProc"
        cookieless="UseCookies"
        timeout="30"
        regenerateExpiredSessionId="true" />

    <authentication mode="Forms">
      <forms
          loginUrl="Login.aspx"
          timeout="30"
          slidingExpiration="true"
          cookieless="UseCookies"
          protection="All" />
    </authentication>

    <httpCookies
        httpOnlyCookies="true"
        requireSSL="false"
        sameSite="Lax" />

  </system.web>

  <system.webServer>

    <httpErrors
        errorMode="DetailedLocalOnly"
        existingResponse="PassThrough" />

  </system.webServer>

</configuration>
